<%= erb :'partials/_errors'%>
<h2 class="transparent inline-block">Ask Away.</h2>
<div>
  <form method="post" action="/questions/new">
    <div class="block">
    <label for="title-input">Title: </label>
    <textarea name="question[title]" cols="60" rows="1" placeholder="What's your programming question? Be specific."></textarea>
    </div>
    <textarea class="block" name="question[question_content]" cols="65" rows="10"></textarea>
    <div class="block">
      <input class="pretty_button" type="submit" value="Post Your Question">
    </div>
  </form>
</div>
