<%= erb :'partials/_errors'%>
<h2 class="transparent inline-block">Comment.</h2>
<p><%= @question.question_content %></p>
<div>
  <form method="post" action="/questions/<%=@question.id%>/comments">

    <textarea class="block" name="comment[comment_content]" cols="65" rows="10"></textarea>
    <div class="block">
      <input class="pretty_button" type="submit" value="Post Your Comment">
    </div>
  </form>
</div>
