body {
  counter-reset:section;
  font-family: Verdana;
  max-width: 700px;
  margin: 0 auto;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  letter-spacing: .02em;
}

a {
  text-decoration:none;
}
nav {
  margin: 0px auto;
  width: 800px;
}


.left {
  float:left;
  margin-left:20px;
}
.right {
  float:right;
  margin-left:20px;
}
h3 {
  font-weight: 100;
}

nav button {
  color:#fff;
  background-color: #0095ff;
  border-color:#07c;
  float:right;
  margin-right:20px;
  margin-top:20px;}

nav button:hover{
  background-color:#07c
}

.pretty_button {
  color:#fff;
  background-color: #0095ff;
  border-color:#07c;
  margin-right:20px;
  margin-top:20px;
  }

.pretty_button:hover {
  background-color:#07c
}

.block {
  display: block;
}

.inline-block {
  display:inline-block;
}

.post-header {
  width: 100%;
  height: 50px;
}
.votes {
  padding: 5px 5px ;
  line-height: 1;
  display: inline-block;
  height: 38px;
  min-width: 38px;
  margin: 0 3px 0 0;
  font-size: 16px;
  color: #848d95;
  text-align: center;
  vertical-align: middle;
}

.questionvotes {
  padding: 5px 5px ;
  line-height: 1;
  display: inline-block;
  min-width: 38px;
  margin: 0 3px 0 0;
  font-size: 16px;
  color: #848d95;
  text-align: center;
  vertical-align: middle;
}

.question-link:hover {
  color: #3af;
}
.views {
  padding: 5px 5px ;
  line-height: 1;
  display: inline-block;
  height: 38px;
  min-width: 38px;
  margin: 0 3px 0 0;
  font-size: 16px;
  color: #848d95;
  text-align: center;
  vertical-align: middle;
}


.answers {
  padding:5px 5px;
  line-height: 1;
  display: inline-block;
  height: 38px;
  min-width: 38px;
  margin: 0 3px 0 0;
  font-size: 16px;
  color: #848d95;
  text-align: center;
  vertical-align: middle;
}

.answered {
  color: #45A163;
  border-width: 1px;
  border-style:solid;
  border-color: rgba(69,161,99, 1);

}



.answer-accepted {
  color: #fff;
  background-color: #5fba7d;
}

.mini {
  font-size: 11px;
}
.transparent{
  background-color: transparent;
  border-color: transparent;
  color: #07C;
  box-shadow: none;
}

.btn-outlined{
  color: #07c;
  background-color: rgba(0,119,204,0);
  border-color: #0095ff;
  border-width: 1px;
  box-shadow: none;
  vertical-align: middle;
  margin: 1em;
}

.btn-outlined{
  color: #07c;
  background-color: rgba(0,119,204,0);
  border-color: #0095ff;
  border-width: 1px;
  box-shadow: none;
  vertical-align: middle;
  margin: 1em;
}

.green{
  background-color: #5fba7d;
  color: white;
  border-color: #428257;
}

.btn-outlined:hover {
  background-color: #e6f4ff

}


.green:hover {
  background-color: #428257
}

.transparent:hover {
  background-color: rgb(0,119,204);
  color:white;
}

.header {
  margin: 20px auto;
  width: 800px;
  height: 75px;
  border: 0px dotted black;
  background-color: #F6F6EF;
  border-top: 3px solid #f48024;
}
.container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
article {
  border-top: 1px gray solid;
}
article a {
  color:#07C;
  line-height: 1.3;
  text-decoration: none;
}

.time-created {
  margin: 0;
  font-size: 11px;
  color: #9199a1;
}
.question-comment {
  border-bottom: #e4e6e8 1px solid;
  font-size: 11px;
  font-color: gray;
}

.answer-comment {
  border-bottom: #e4e6e8 1px solid;
  font-size: 11px;
  font-color: gray;
}

.question-comments {
  padding-left:100px;
}

.answer-comments {
  padding-left:100px;
}
.logo {
  width: 35px;
  height: 35px;
  vertical-align: middle;
  margin-top: 15px;
  margin-left: 20px;
}

.logotext {
  font-family: 'Wire One', sans-serif;
  font-size: 2em;
  vertical-align: bottom;
}

.light {
  font-weight: 500;
}

.heavy {
  font-weight: 900;
}

.profile-pic {
  width: 100px;
  height: 100px;
}

.logo-link{
  color:black;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.answer-container {
  margin-left: 20px;
}

.posts {
  border-bottom: 1px solid black;
}

.user-posts li {
  list-style: none;
  margin-bottom: 15px;
  border-bottom: 1px dotted black;
}

.user-posts li a {
  margin-left: 15px;
}

.user-posts .time-created {
  float: right;
  text-align: right;
}

.user-header .user-reached div, .user-header .user-questions div, .user-header .user-answers div {
  display: inline;
}

