body {
  counter-reset:section;
  font-family: Verdana;
  max-width: 700px;
  margin: 0 auto;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

nav {
  margin: 0px auto;
  width: 800px;
}

.left {
  float:left;
  margin-left:20px;
}

nav button {
  color:#fff;
  background-color: #0095ff;
  border-color:#07c;
  float:right;
  margin-right:20px;
  margin-top:20px;}

nav button:hover{
  background-color:#07c
}

.pretty_button {
  color:#fff;
  background-color: #0095ff;
  border-color:#07c;
  margin-right:20px;
  margin-top:20px;
  }

.pretty_button:hover {
  background-color:#07c
}

.inline-block {
  display:inline-block;
}
.votes {
  padding: 8px 5px ;
  line-height: 1;
  display: inline-block;
  height: 38px;
  min-width: 38px;
  margin: 0 3px 0 0;
  font-size: 16px;
  color: #848d95;
  text-align: center;
}

.views {
  padding: 8px 5px ;
  line-height: 1;
  display: inline-block;
  height: 38px;
  min-width: 38px;
  margin: 0 3px 0 0;
  font-size: 16px;
  color: #848d95;
  text-align: center;
}


.answers {
  padding: 8px 5px;
  line-height: 1;
  display: inline-block;
  height: 38px;
  min-width: 38px;
  margin: 0 3px 0 0;
  font-size: 16px;
  color: #848d95;
  text-align: center;
}

.mini {
  font-size: 11px;
}
.transparent{
  background-color: transparent;
  border-color: transparent;
  color: #07C;
  box-shadow: none;
}
.transparent:hover {
  background-color: rgb(0,119,204);
  color:white;
}

.header {
  margin: 20px auto;
  width: 800px;
  height: 75px;
  border: 0px dotted black;
  background-color: #F6F6EF;
  border-top: 3px solid #f48024;
}
.container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
article {
  border-bottom: 1px gray solid;
}
article a {
  color:#07C;
  line-height: 1.3;
  margin-bottom: 1.2em;
  text-decoration: none;
}


