    <textarea class="block" name="comment[comment_content]" cols="65" rows="10"></textarea>
    <div class="block">
      <input class="pretty_button" type="submit" value="Post Your Comment">
    </div>
