<div class='login'>
  <% if @errors %>
    <%= erb :'/partials/_errors' %>
  <% end %>
  <form action='/login' method='post'>
    <label for='email'>Email:</label>
    <input name='email' type='email' placeholder='youremail@yourdomain.com'>
    <br>
    <label for='password'>Password:</label>
    <input name='password' type='password' placeholder='password'>
    <br>
    <input type='submit' value='Login'>
  </form>
  <br>
  <p><a href="/users/new">Create an Account</a></p>
</div>
