<div>
  <% if @errors %>
    <%= erb :'/partials/_errors' %>
  <% end %>
  <form action='/users' method='post'>
    <label for='username'>Username:</label>
    <input name='username' type='text' placeholder='yourusername'>
    <br>
    <label for='email'>Email:</label>
    <input name='email' type='email' placeholder='youremail@yourdomain.com'>
    <br>
    <label for='password'>Password:</label>
    <input name='password' type='password' placeholder='password'>
    <br>
    <input type='submit' value='Create an Account'>
  </form>
  <p><a href="/login">Back to Login</a></p>
  <p><a href="/">Home</a></p>
</div>
