<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Wire+One" rel="stylesheet">
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="/js/application.js"></script>


  <title>SToMP Overflow</title>
</head>

<body>
  <div class="header">
      <nav>
          <% if !session[:user] %>
            <button type="button" class="transparent" onclick="location.href='/login'"/> Login </button>
            <button type="button" onclick="location.href='/users/new'"/> Register </button>
          <% else %>
            <button type="button" class="transparent" onclick="location.href='/users/<%= session[:user] %>'"/> <%= User.find(session[:user]).username %> </button>
            <button type="button" class="transparent" onclick="location.href='/logout'"/> Logout </button>
          <% end %>
          <a class="logo-link" href="/">
            <img class="logo" src="/images/icon.png" class="left">
            <span class="logotext light">stomp</span><span class="logotext heavy">overflow</span>
          </a>
      </nav>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
